<!DOCTYPE html>
<html>
    <head>
        <!-- build:process --><title><%= title %></title><!-- /build -->
        <style type="text/css">
			body {
				margin: 0;
				padding: 0;
			}
			div {
				float: left;
				width: 300px;
				height: 240px;
				background: #ccc;
				margin: 2px;
			}
		</style>
        <!-- build:process --><script type="text/javascript" src="<%= script %>"></script><!-- /build -->
    </head>
<body>
    <div id="uol-video-container">
    	<script type="text/javascript">
        var player = new VideoPlayer('namescpace_uolplayer', {
		    containerId: 'uol-video-container',
            debug : true,
		    autohide: false,
		    autoplay: true,
		    controls: 1,
		    fullscreen: true,
		    videoId: 'wgDkQorevvU',
		    trackingValues : {
			    'mute' : '%%ID_MUTE%%',
			    'unmute' : '%%ID_UNMUTE%%',
			    'resumed' : '%%ID_RESUMED%%',
			    'play' : '%%ID_PLAYING%%',
			    'paused' : '%%ID_PAUSED%%',
			    'firstQuartile' : '%%ID_25%%', 	//the creative played for at least 25% of the total duration
			    'midpoint' : '%%ID_50%%', 		//the creative played for at least 50% of the total duration
			    'thirdQuartile' : '%%ID_75%%', 	//the creative played for at least 75% of the total duration
			    'complete' : '%%ID_100%%' 		//the creative was played to the end at normal speed
			}
		});
		</script>
    </div>
</body>
</html>